# PART 1

# 1-Defining a Variable

In [ ]:
x=
y=

In [ ]:
print (x > y)

### Variables

A variable can have any name as long as it follows the rules. Be creative but 

try to be as precise as possible! When naming things, please stick to these guidelines:

\- Only use letters

\- Write everything in lowercase

\- Separate words with the underscore character `_`

In [ ]:
# Can I have numbers in a variable name?

In [ ]:
89_hilal = 3

In [ ]:
hilal_89 = 2

In [ ]:
type(hilal_89)

# 2-Integer, String, Float and Boolean

- Int: a whole number (... -2, -1, 0, 1, 2â€¦)
- Float: the real numbers, number with decimals
- String: text values
- Boolean: used to represent the truth value of an expression

In [ ]:
d =

In [ ]:
type()

In [ ]:
e= False

In [ ]:
type()

# PART 2

# 1- Defining strings

In [ ]:
#method 1: single quotes and f string

name = 'SRH'

print(f"name: {name}")

In [ ]:
### f string

In [ ]:
name = 'Hilal'
number = 35

print(f'Hello {name}')
print(f'Result: {number}')
print(f'Hi {name}, you are {number} years old!')

In [ ]:
#method3: Tripple quotes

text = '''
Hi! my name is Hilal

What's your name ?
        '''

print(text)

# 2- Substrings

In [ ]:
name = 'Selma Hadzic'

In [ ]:
name[2]

In [ ]:
name[5]

In [ ]:
name[12]

In [ ]:
name[0:3]

In [ ]:
name[:3]

In [ ]:
name[-4]

In [ ]:
name[-1]

In [ ]:
name[-1:-4]

In [ ]:
name[-4:-1]

# 3- String Methods

In [ ]:
name = ' Manipulating Strings n '

In [ ]:
name.upper()

In [ ]:
name

In [ ]:
name =name.upper()

In [ ]:
name

In [ ]:
name.lower()

In [ ]:
name

In [ ]:
name=name.lower()

In [ ]:
name

In [ ]:
# removing white space
#name.strip()
name.rstrip()
#name.lstrip()

In [ ]:
#If I want to capitalize every first letter of all the words?
name.title()

In [ ]:
name.split()

Some characters in Python require special attention:

- \n - Newline character
- \t - Tabulator
- \" - literal double quote
- \\ - Normal, single backslash

Example: print("Hello! What\'s up? How are you?\nI\'m doing fine.")

In [ ]:
print('Hello! What\'s up? How are you?\nI\'m doing fine.')

In [ ]:
print('Hello! What's up? How are you?\nI\'m doing fine.')

# 4- Input function

The programmer can get information from the user with the input() function. This function asks the user to enter a value. Beware that any data from the input function will be saved as a string. So if in order to transform the data to an integer use int(). Here is an example:

In [ ]:
who = input('What is your name? ')
print(f'Hello {who}, welcome')

In [ ]:
age = input("How old are you?")

age_new=age+2
print(f'2 years later  you will be {age_new}')

In [ ]:
age = int(input("How old are you?"))

age_new=age+2
print(f'2 years later  you will be {age_new}')